@using CarInsurance.ViewModels
@using CarInsurance.Models
@model List<AdminVm>
@{
    <div class="row no-gutters m-3">
        <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
            <div class="card-header text-center">
                <h5 class="m-0">Insurees</h5>
            </div>
            <div class="card-body">
                @foreach (var insuree in Model)
                 {
                    <div class="row">
                        <div class="col">
                            First Name: @insuree.FirstName
                        </div>
                        <div class="col">
                            Last Name: @insuree.LastName
                        </div>
                        <div class="col">
                            Email: @insuree.EmailAddress
                        </div>
                        <div class="col">
                            Quote: @insuree.Quote
                        </div>
                        <br />
                    </div>
                 }
            </div>
        </div>
    </div>
}
